<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
    </div>
  </nav>
    <div class="container">
        <h1 class="center-align">Login</h1>
        <div class="row">
            <form class="col s12" id="loginForm" action="/auth/login" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" name="email" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light" type="submit">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de Confirmação -->
    <div id="confirmModal" class="modal">
      <div class="modal-content">
        <h4>Tem certeza?</h4>
        <p>Você está prestes a sair. Tem certeza?</p>
      </div>
      <div class="modal-footer">
        <a id="confirmLogout" href="/logout" class="modal-close waves-effect waves-green btn-flat">Sim, sair</a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
      </div>
    </div>

    <!-- Adicione este script ao seu arquivo HTML -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);

        // Adicione o evento de clique para abrir o modal
        document.getElementById('confirmLogout').addEventListener('click', function(event) {
          event.preventDefault(); // Evita o comportamento padrão do link
          var instance = M.Modal.getInstance(document.getElementById('confirmModal'));
          instance.open(); // Abre o modal de confirmação
        });
      });
    </script>

</body>
</html>
